In [1]:
import pandas as pd

In [10]:
ventas = pd.Series([15,13,21], index = ['ene', 'feb', 'mar'])
ventas

ene    15
feb    13
mar    21
dtype: int64

In [3]:
ventas[0]

15

In [4]:
ventas['ene']

15

In [5]:
ventas.dtype

dtype('int64')

In [6]:
ventas.index

Index(['ene', 'feb', 'mar'], dtype='object')

In [7]:
ventas.values

array([15, 13, 21], dtype=int64)

In [15]:
ventas.mane = 'ventas 2020'
ventas.mane

'ventas 2020'

In [16]:
ventas

meses
ene    15
feb    13
mar    21
dtype: int64

In [17]:
ventas.index.name='meses'

In [18]:
ventas

meses
ene    15
feb    13
mar    21
dtype: int64

In [19]:
ventas.axes

[Index(['ene', 'feb', 'mar'], dtype='object', name='meses')]

In [20]:
ventas.shape

(3,)

In [21]:
datos ={ 'manzanas' : [ 3 , 2 , 0 , 1 ], 'naranjas' : [ 0 , 3 , 7 , 2 ] }

In [22]:
compras = pd.DataFrame(datos)
compras

   manzanas  naranjas
0         3         0
1         2         3
2         0         7
3         1         2

In [23]:
compras = pd.DataFrame( datos, index = ['juno', 'robert', 'lili', 'david' ])
compras

        manzanas  naranjas
juno           3         0
robert         2         3
lili           0         7
david          1         2

In [24]:
compras.index

Index(['juno', 'robert', 'lili', 'david'], dtype='object')

In [25]:
compras.columns

Index(['manzanas', 'naranjas'], dtype='object')

In [26]:
compras.axes

[Index(['juno', 'robert', 'lili', 'david'], dtype='object'),
 Index(['manzanas', 'naranjas'], dtype='object')]

In [30]:
compras.index.mane = 'clientes'

In [31]:
compras.columns.mane = 'frutas'

In [32]:
compras

        manzanas  naranjas
juno           3         0
robert         2         3
lili           0         7
david          1         2

In [33]:
compras.values

array([[3, 0],
       [2, 3],
       [0, 7],
       [1, 2]], dtype=int64)

In [34]:
compras.shape

(4, 2)

In [35]:
s = pd.Series([7,5,3])
s

0    7
1    5
2    3
dtype: int64

In [36]:
s = pd.Series([7,5,3], index = ['ene', 'feb', 'mar'])
s

ene    7
feb    5
mar    3
dtype: int64

In [37]:
d = {'ene':7, 'feb':5, 'mar':3}
s = pd.Series(d)
s

ene    7
feb    5
mar    3
dtype: int64

In [38]:
d = {'ene':7, 'feb':5, 'mar':3}
s = pd.Series(d, index = ['abr', 'mar', 'feb', 'ene'],dtype=int)
s

abr    NaN
mar    3.0
feb    5.0
ene    7.0
dtype: float64

In [41]:
s = pd.Series([5,2,-3,7,8,4])

In [42]:
s=[[True,False,False,True,True,False]]

In [43]:
print(type(s > 2))
s > 2

TypeError: '>' not supported between instances of 'list' and 'int'

In [44]:
s[s>2]

TypeError: '>' not supported between instances of 'list' and 'int'

In [45]:
s=[[True,False,False,True,True,False]]

In [46]:
s.loc[s>2]

AttributeError: 'list' object has no attribute 'loc'

In [47]:
s.iloc[[True,False,False,True,True,False]]

AttributeError: 'list' object has no attribute 'iloc'

In [48]:
s.iloc[s>2]

AttributeError: 'list' object has no attribute 'iloc'

In [49]:
type((s>2).values)

TypeError: '>' not supported between instances of 'list' and 'int'

In [50]:
(s>2).values

TypeError: '>' not supported between instances of 'list' and 'int'

In [51]:
s.iloc[(s>2).values]

AttributeError: 'list' object has no attribute 'iloc'

In [55]:
df = pd.DataFrame(np.arange(18).reshape([6, 3]),
                 index = ['a', 'b', 'c', 'd', 'e', 'f'],
                 columns = ['A', 'B', 'C'])
df

NameError: name 'np' is not defined