In [1]:
t = 'a', 'b', 'c', 'd', 'e'

In [2]:
t = ('esto es una cadena', 'a', 'b', 'c', 'd', 'e')
print(t)
t[0]

('esto es una cadena', 'a', 'b', 'c', 'd', 'e')

'esto es una cadena'

In [3]:
t1 =('a',)
type(t1)

tuple

In [4]:
t2 =('a',)
type(t2)

tuple

In [5]:
t = tuple()
print(type(t))

<class 'tuple'>

In [1]:
t = tuple('lupines')
print(t)

('l', 'u', 'p', 'i', 'n', 'e', 's')

In [3]:
t = ('a', 'b', 'c', 'd', 'e')
print(t)

('a', 'b', 'c', 'd', 'e')

In [4]:
print(t[1:3])

('b', 'c')

In [5]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [6]:
t = ('A' ,) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

In [7]:
(0, 1, 2) < (0, 3, 4)

True

In [8]:
(0, 1, 2000000) < (0, 3, 4)

True

In [11]:
txt = 'but soft what light in yonder window breaks'
palabras = txt.split()
palabras

['but', 'soft', 'what', 'light', 'in', 'yonder', 'window', 'breaks']

In [13]:
l = list()
for subcadena in palabras:
    l.append((len(subcadena), subcadena))
print(l)

[(3, 'but'), (4, 'soft'), (4, 'what'), (5, 'light'), (2, 'in'), (6, 'yonder'), (6, 'window'), (6, 'breaks')]

In [14]:
l.sort(reverse=True)
print(l)

res=list()

for longitud, palabra in l:
    res.append(palabra)
    
print(res)

[(6, 'yonder'), (6, 'window'), (6, 'breaks'), (5, 'light'), (4, 'what'), (4, 'soft'), (3, 'but'), (2, 'in')]
['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [17]:
m = ['have', 'fun']
x, y = m

In [18]:
print(x)
print(y)

have
fun

In [19]:
m = ['have', 'fun']
x = m[0]
y = m[1]

In [20]:
print(x)
print(y)

have
fun

In [21]:
m = ['have', 'fun']
(x, y) = m

In [22]:
print(x)
print(y)

have
fun

In [23]:
a, b = b, a

NameError: name 'b' is not defined

In [24]:
a, b = 1, 2, 3

ValueError: too many values to unpack (expected 2)

In [25]:
addr = 'monty@python.org'
uname, domain = addr.split('@')

In [26]:
print(uname)
print(domain)

monty
python.org

In [27]:
d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [28]:
d = {'a':10, 'b':1, 'c':22}
t = list(d.items())
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [29]:
t.sort()
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [30]:
valores = ('python', True, 'zope', 5)
print('True ->', valores.count(True))

True -> 1

In [31]:
print('zope ->', valores.count('zope'))

zope -> 1

In [32]:
print('5 ->', valores.count(5))

5 -> 1

In [33]:
valores = ('python', True, 'zope', 5)

In [34]:
print(valores.index(True))

1

In [35]:
print(valores.index(5))

3

In [36]:
tecnologias = ('zope', 'plone', 'pyramid')
for i in range(0, len(tecnologias)):
    print(i, tecnologias[i])

0 zope
1 plone
2 pyramid